body{
	background-color:#f5f5f5;
	
}

.main{
	background-color:white;
	margin:15px;
	padding:30px 10px;
	display:flex;
}

.container1{
	width:400vh;
}
.container2{
	width:50%%;
}
.content{
	display:flex;
	align-items:center
}

img{
	margin:20px;
	width:100px;
}
